* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black !important;
}

.Hamburger {
    width: 100%;
    height: 100vh;
    color: white;

}


.Hamburger .container .row h1 {
    margin-top: 20vh;
    font-family: monospace;
    font-size: 35px;
}

.Hamburger .container .row p {
    font-family: monospace;
    font-size: 16px;
    
    

}






/* Scroll yo‘q */
::-webkit-scrollbar {
    display: none;
}

.texts p span {
    display: inline-block;
}

@media (max-width: 992px) {
 

    .texts p span {
        display: contents;
    }


    .Hamburger .container .row h1 {
        font-size: 28px;
        margin-top: 25vh;
    }

    .Hamburger .container .row p {
        font-size: 14px;
    }
}

@media (max-width: 762px) {
    .Hamburger {
        text-align: center;
        height: auto;
        padding-bottom: 50px;
    }

    .texts {
        margin-left: 0;
    }

    .Hamburger .container .row h1 {
        font-size: 25px;
        margin-top: 10vh;
    }

    .Hamburger .container .row p {
        font-size: 14px;
    }
}

@media (max-width: 512px) {
   
    .Hamburger .container .row h1 {
        font-size: 22px;
        margin-top: 5vh;
    }

    .Hamburger .container .row p {
        font-size: 12px;
    }
}



.Hamburger .container .row .ResumeBtn {
    height: 50px;
    width: 200px;
    margin-top: 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    transition: .3s;
}

.Hamburger .container .row .ResumeBtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.Hamburger .container .row .ResumeBtn p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    font-weight: 600;

    gap: 10px;

}

/* Umumiy text select effekti */
::selection {
color: red;
background: rgb(0, 0, 0);
}

/* Firefox uchun (maxsus prefiks kerak) */
::-moz-selection {
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(75, 108, 183, 0.8);
}

.photoabout img {
    width: 600px;
height: 600px;
    margin-left: 50px;
border-radius: 10px;
}
@media (max-width: 992px) {
    .photoabout img {
        width: 100%;
        padding:10px;
        height: auto;
            margin-left:auto;

    }

}
.Cert img{
    width: 600px;
    height: auto;
}