* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black !important;
}

.Hamburger {
    width: 100%;
    height: 100vh;
    color: white;
}

.Hamburger .container .row h1 {
    margin-top: 30vh;
    font-family: monospace;
    font-size: 35px;
}

.Hamburger .container .row p {
    font-family: monospace;
    font-size: 16px;
}

.texts {
    margin-top: 50px;
    margin-left: 20px;
}

.Hamburger .container .photo img {
    margin-top: 100px;
}

.photo {
    width: 600px;
    height: 600px;
    transition: .5s !important;
    overflow: hidden;
    border-radius: 30px;
}

.photo img {
    width: 600px;
    height: 600px;
}

/* Hover effekti */
.photo:hover img {
    transition: 2s;
    width: 200%;
    height: 100%;
    filter: contrast(2);
    object-fit: cover;
}

/* Scroll yo‘q */
::-webkit-scrollbar {
    display: none;
}

.texts p span {
display: inline-block;
}
@media (max-width: 992px) {
    .photo {
        width: 450px;
        height: 450px;
        border-radius: 25px;
    }
.texts p span {
display:contents;
}
    .photo img {
        width: 450px;
        height: 450px;
    }

    .Hamburger .container .row h1 {
        font-size: 28px;
        margin-top: 25vh;
    }

    .Hamburger .container .row p {
        font-size: 14px;
    }
}

@media (max-width: 762px) {
    .Hamburger {
        text-align: center;
        height: auto;
        padding-bottom: 50px;
    }

    .texts {
        margin-left: 0;
    }

    .photo {
        width: 350px;
        height: 350px;
        margin: 30px auto;
    }

    .photo img {
        width: 350px;
        height: 350px;
    }

    .Hamburger .container .row h1 {
        font-size: 25px;
        margin-top: 10vh;
    }

    .Hamburger .container .row p {
        font-size: 14px;
    }
}

@media (max-width: 512px) {
    .photo {
        width: 280px;
        height: 280px;
        border-radius: 20px;
    }

    .photo img {
        width: 280px;
        height: 280px;
    }

    .Hamburger .container .row h1 {
        font-size: 22px;
        margin-top: 5vh;
    }

    .Hamburger .container .row p {
        font-size: 12px;
    }
}
